{% extends 'base.html' %}
{% load static %}

{% block title %}Compras{% endblock %}

{% block content %}
<section>
    <div class="compras">
        {% for compra in compras %}
            <article class="compra">
                <h2>Compra ID: {{ compra.id }}</h2>

                <div class="relojes_en_compra">
                    {% for reloj in compra.relojes.all %}
                        <article class="reloj">
                            <a href="{% url 'compraDetalle' reloj.id %}">
                                <img src="{% static reloj.fotoUrl %}" alt="Foto de {{ reloj.nombre }} {{ reloj.marca }}">
                            </a>
                            <div class="relojInfo">
                                <h4><a href="{% url 'relojDetalle' reloj.id %}">{{ reloj.marca }} - {{ reloj.nombre }}</a></h4>
                                <p>Precio: {{ reloj.precio }}€</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                <h3>Precio total de la compra: {{ compra.precioCompra }}€</h3>

            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
