{% extends 'base.html' %}
{% load static %}

{% block title %} Carrito de Compras {% endblock %}

{% block content %}
    <div class="carrito">
        <h1>Carrito de Compras</h1>
        
        <div id="cart">
            <h3>Productos en el carrito</h3>
            <ul id="cart-list">
            </ul>
            <h3 id="total-price">Precio Total: 0 €</h3>
            <button id="checkout-btn">Finalizar compra</button>
        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Función para actualizar el carrito visualmente
            function actualizarCarrito() {
                const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
                const cartList = document.getElementById('cart-list');
                const totalPriceElement = document.getElementById('total-price');

                cartList.innerHTML = '';
                let total = 0;

                if (carrito.length === 0) {
                    const mensaje = document.createElement('li');
                    mensaje.textContent = "Tu carrito está vacío";
                    cartList.appendChild(mensaje);
                    totalPriceElement.textContent = "Precio Total: 0 €";
                } else {
                    carrito.forEach(function(reloj) {
                        const li = document.createElement('li');
                        li.innerHTML = `
                            <img src="${reloj.fotoUrl}" alt="${reloj.nombre}" width="50">
                            <span>${reloj.nombre}</span>
                            <span>${reloj.precio} €</span>
                        `;
                        cartList.appendChild(li);
                        total += parseFloat(reloj.precio);
                    });
                    totalPriceElement.textContent = `Precio Total: ${total.toFixed(2)} €`;
                }
            }
            actualizarCarrito();

            // Event listener para el botón de finalizar compra (puedes agregar lógica para redirigir a otra página o procesar la compra)
            document.getElementById('checkout-btn').addEventListener('click', function() {
                // Aquí puedes añadir la lógica para redirigir al usuario a la página de pago o procesar la compra
                alert("Redirigiendo al proceso de compra...");
            });
        });
    </script>
{% endblock %}
