{% extends 'base.html' %}
{% load static %}

{% block title %}Relojes{% endblock %}


{% block content %}
<section>
  <div class="relojes">
    {% for reloj in relojes %}
    <article class="reloj">
      <a href="detalle/{{ reloj.id }}">
        <img src="{% static reloj.fotoUrl %}" alt="Foto de {{ reloj.nombre }} {{ reloj.marca }}">
      </a>
      <h2><a href="detalle/{{ reloj.id }}">{{ reloj.nombre }} {{ reloj.marca }}</a></h2>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}